.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .button {
  padding: 10px 20px; 
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

.editor-container {
  display: flex;
  justify-content: left;
}

.button-container {
  display: flex; /* Use flexbox for horizontal alignment */
  justify-content: center;  /* Center-align buttons horizontally */
  /*margin-top: 20px; /* Adjust spacing as needed */
}

/* .button {
  padding: 10px 20px; 
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px; 
} */

.button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

#text1 {
  padding: 200px
}